@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p><a class="navbar-brand" asp-area="" asp-controller="Transactions" asp-action="Index">Transactions</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="Customers" asp-action="Index">Customer List</a></p>
    <p><a class="navbar-brand" asp-area="" asp-controller="ItemTransactions" asp-action="Index">Items</a></p>
</div>